.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.buttonGroup {
  width: 70%;
  display: flex;
  justify-content: space-between;
  margin: 8px 0px;
}

.buttonGroupCenter {
  flex: 0 0 auto;
  width: 200px;
}

.buttonGroupLarge {
  width: 100%;
}

.buttonGroupLarge .buttonGroupCenter {
  width: 350px;
}

.arrowContainer {
  width: 50px;
  display: flex;
}

.numberGroup {
  width: 100%;
  text-align: center;
}

@media (max-width: 500px) {
  .buttonGroup {
    width: 100%;
  }
  .arrowContainer {
    width: auto;
  }
}
