.container {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.buttonGroup {
  display: flex;
}

.arrowContainer {
  width: 50px;
  display: flex;
  justify-content: center;
}

.navigateSection {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 250px;
}

.navigateSection b {
  margin-right: 8px;
}

.navigateSection .inputContainer {
  width: 45px;
  margin-right: 8px;
}
