.roundedPane {
  margin-bottom: var(--spacing-container);
  padding: var(--spacing-container);
  border-radius: var(--radius-1);

  background-color: var(--background-strong);
  color: var(--text-normal);
  box-shadow: var(--shadow-1);
}

.roundedPaneTransparent {
  margin-bottom: var(--spacing-container);
  padding: var(--spacing-container);
  border-radius: var(--radius-1);

  background: none;
  color: var(--text-normal);
}
