.roundedPane {
  margin-bottom: var(--spacing-container);
  padding: var(--spacing-container);
  border-radius: var(--radius-1);
  background: var(--white);
}

.roundedPaneTransparent {
  margin-bottom: var(--spacing-container);
  padding: var(--spacing-container);
  border-radius: var(--radius-1);
  background: none;
}
