.container {
  min-height: 100vh;
  padding: 1.5rem;
}

.main {
  display: flex;
  flex-direction: column;
  max-width: 600px;
  margin: 0 auto;
}

.tag {
  background: #dfe6e9;
  padding: 2px 6px;
  display: inline-block;
  clear: both;
}

.entry {
  border: 1px solid #000;
  margin: 10px;
  padding: 10px;
}

.readMoreArea {
  display: flex;
  gap: 10px;
}

.primaryButton {
  background: #000;
  color: #FFF;
  padding: 4px 12px;
  border: none;
  cursor: pointer;
}

.secondaryButton {
  background: #dfe6e9;
  color: #000;
  padding: 4px 12px;
  border: none;
  cursor: pointer;
}