.container {
  min-height: 100vh;
  padding: 1.5rem;
}

.main {
  display: flex;
  flex-direction: column;
  max-width: 600px;
  margin: 0 auto;
}

.entry {
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.4);
  margin: 10px;
  padding: 10px;
}
